body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.fakecontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;

}
.child1 {
    background-color: lightblue;
}
.child2 {
    background-color: red;
    display: grid;
    justify-content: center;
    place-items: center;
}
.startBattleship {
    background-color: wheat;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    
}

.header {
    background-color: lightblue;
}

.contentContainer {
    display: grid;
    grid-template-areas:
            "enemysbox . ."
            ". playersbox ."
            ". . start-button";
}
.start-button {
    grid-area: start-button;
}
.playersBox {
    grid-area: playersbox;
    display: grid;
    grid-template-areas: 
        ". alphabet alphabet"
        "num cont cont"
        "num cont cont";
    justify-content: center;
    place-content: center;
    
    
  
    
    
}
.alphabet {
    grid-area: alphabet;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    justify-items: center;
    font-size: 22px;
   
}
.numbers {
    grid-area: num;
    display: grid;
    gap: 7px;
    align-content: start;
    place-content: start;
   
    font-size: 28px;
    
}

.number-cell {
    align-self: flex-start;
    justify-self: start;
    place-self: start;
    margin-right: 1px;
}

.content {
    grid-area: cont;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0;
    height: 45vh;
    width: 45vw;
    

}

.cell {
    position: relative;
    padding-bottom: 0;
    background-color: white;
    border: 1px solid black;
    aspect-ratio: 1/1;
    /* Ensures a perfect square */
}

.enemysBox {
    grid-area: enemysbox;
    display: grid;
    grid-template-areas:
        ". alphabet alphabet"
        "num cont cont"
        "num cont cont";
    justify-content: center;
    place-content: center;
}
.content2 {
    grid-area: cont;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0;
    height: 25vh;
    width: 25vw;


}
.alphabet2 {
    grid-area: alphabet;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    font-size: 12px;

}

.numbers2 {
    grid-area: num;
    display: grid;
    gap: 4.5px;
    align-content: start;
    place-content: start;

    font-size: 15px;

}
.cell2 {
    position: relative;
    padding-bottom: 0;
    background-color: white;
    border: 1px solid black;
    aspect-ratio: 1/1;
    /* Ensures a perfect square */
}

.dragging {
    opacity: 0.5;
    border: 2px dashed red;
}
.drag-image {
    border: 2px solid red;
}
@keyframes vibrate {
    0% {
        transform: translate(-2px, -2px);
    }

    25% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    75% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(-2px, -2px);
    }
}

.vibrate {
    animation: vibrate 0.5s infinite;
    background-color: red;
}

